<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1" package="com.apl.Loto6Sense_Lite" android:versionName="1.0.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Loto6Sense"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="LotoOptHold"></activity>
        <activity android:name="LotoSetting"></activity>

    </application>
    <uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 